.wrapper {
  padding-top: 30px;
}

body {
  margin-bottom: 25px;
  width: 100%;
  height: 100%;
}

.navbar-brand a {
  color: #ffffff;
}

.form-wrapper,
.table-wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.table-wrapper {
  max-width: 700px;
}

.edit-link {
  padding: 7px 10px;
  font-size: 0.875rem;
  line-height: normal;
  border-radius: 0.2rem;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  margin-right: 10px;
  position: relative;
  top: 1px;
}

.edit-link:hover {
  text-decoration: none;
  color: #ffffff;
}
.button-card {
  margin-left: 30pix;
}

.profile {
  align-items: center;
  margin-left: 20%;
  max-height: 60%;
  max-width: 40%;
}
.loading {
  margin-left: 48%;
  margin-top: 25%;
  max-width: 20%;
}
.buttonloginlogout {
  margin-left: 39%;
  margin-top: 0px;
  position: fixed;
}
